DISCORD_TOKEN=<bot token>
DISCORD_CLIENT_ID=<app id>
# Get these values on the developer portal

NTFY_CREDS=<base64 string> # Authentication for notifications. Encode "username:password" in base64 and paste the result here.